%h2 New Ride Request
= form_with model: @ride_request do |f|
  = label_tag(:destination, "Destination")
  %br
  = f.text_field :destination
  %br
  = label_tag(:status, "Status")
  %br
  = f.text_field :status
  %br
  = label_tag(:user_id, "User ID")
  %br
  = f.text_field :user_id
  %br
  = label_tag(:ride_id, "Ride ID")
  %br
  = f.text_field :ride_id
  %br
  %br
  = f.submit "Create"
  