/ %form{action: "/users" , method: "POST"}
/   First Name
/   %input{type:"text" ,name:"first_name"}
/   Last Name
/   %input{type:"text" ,name:"last_name"}
/   %br
/   %input{type:"submit" ,value:"submit"}

= form_with model: @user do |f|
  = label_tag(:first_name, "First Name")
  %br
  = f.text_field :first_name
  %br
  = label_tag(:last_name, "Last Name")
  %br
  = f.text_field :last_name
  %br
  = label_tag(:contact_number, "Contact Number")
  %br
  = f.text_field :contact_number
  %br
  = label_tag(:email_id, "Email ID")
  %br
  = f.text_field :email_id
  %br
  = label_tag(:password, "Password")
  %br
  = f.text_field :password
  %br
  = f.submit "Create"
  